.app {
    max-width: var(--layout-max-width);
    margin: 0 auto;
    padding: var(--spacing-lg);

    display: grid;
    grid-template-columns: var(--sidebar-ratio) var(--content-ratio);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";

    min-height: 100vh;
    gap: var(--spacing-lg);
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
}