.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    justify-self: start;
    width: 50px;
    height: auto;
}

.header__title {
    margin: 0;
    text-align: center;
}
