.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    justify-self: start;
    width: var(--logo-size);
    height: auto;
}

.header__title {
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
}