.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    justify-self: start;
    width: 50px;
    height: auto;
}

.header__title {
    margin: 0;
    text-align: center;
}

.header__searchbar {
    justify-self: end;
}